{% load static %}
<div class="task-item vh-100 mb-3" id="task-{{ task.id }}" data-task-type="embeddedtask">
    <div class="card h-100 border-0 shadow-lg rounded">
        <div class="card-header bg-primary bg-opacity-10 d-flex align-items-center justify-content-between">
            <h3 class="card-title mb-0 text-primary fw-bold">{{ task.content_object.title }}</h3>
            <span class="badge bg-primary text-white fs-6">Interaction Task</span>
        </div>
        <div class="card-body p-0"> <!-- p-0 убирает внутренние отступы -->
            <div class="embed-responsive embed-responsive-16by9 h-100 w-100">
                {{ task.content_object.embed_code|safe }}
            </div>
        </div>
    </div>
</div>