{% load static %}
{% load custom_filters %}

<div class="task-item" id="task-{{ task.id }}" data-task-type="{{ task.content_type.model }}">
    <div class="card mb-3 border-0 shadow-lg rounded-3">
        <div class="card-header bg-primary bg-opacity-10 d-flex align-items-center justify-content-between">
            <h3 class="card-title mb-0 text-primary fw-bold">{{ task.content_object.title }}</h3>
            <span class="badge bg-primary text-white fs-6">Label Images Task</span>
        </div>
        <div class="card-body">
            <div class="label-images-content">
                {# Перемешанный список слов #}
                <div class="word-list mb-4">
                    <h5 class="fw-bold mb-3">Список слов:</h5>
                    <ul class="list-unstyled d-flex flex-wrap gap-2">
                        {% for label in task.content_object.labels|shuffle %}
                            <li class="badge bg-secondary text-white fs-6 word-item" data-word="{{ label }}">
                                {{ label }}
                            </li>
                        {% endfor %}
                    </ul>
                </div>

                {# Картинки и текстовые поля #}
                <div class="row">
                    {% for image, label in task.content_object.image_urls.all|zip_lists:task.content_object.labels %}
                        <div class="col-xxl-2 col-lg-3 col-md-4 col-sm-6 col-12 mb-4">
                            <div class="image-preview-label-images square-image">
                                <img src="{{ image.image_url }}" alt="{{ label }}" class="card-img-top rounded" style="object-fit: cover;">
                            </div>
                            <input type="text"
                                   class="form-control mt-2 label-image"
                                   data-task-id="{{ task.id }}"
                                   data-image-id="{{ image.id }}"
                                   data-correct-label="{{ label }}"
                                   placeholder="Введите подпись">
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>