{% load static %}
{% load custom_filters %}

<div class="task-item card mb-4 rounded" id="{{ task.id }}" data-task-type="match-words">
    <!-- Заголовок -->
    <div class="card-header bg-light d-flex align-items-center justify-content-between">
        <span class="task-title text-dark me-2 fw-bold">{{ task.content_object.title }}</span>
        <div class="d-flex justify-content-end">
            {% if user in teachers %}
            <div class="actions-container d-none align-items-center rounded-3 me-2" style="border: 1px solid white; background-color: rgba(255, 255, 255, 0.3);">
                <button class="btn btn-link p-0 me-2 ms-2" title="Редактировать">
                    <i class="bi bi-pencil text-dark"></i>
                </button>
                <button class="btn btn-link p-0 me-2" title="Сбросить">
                    <i class="bi bi-arrow-clockwise text-dark"></i>
                </button>
                <button class="btn btn-link p-0 me-2" title="Закрепить">
                    <i class="bi bi-paperclip text-dark"></i>
                </button>
                <button class="btn btn-link p-0 me-2" title="Удалить">
                    <i class="bi bi-trash text-dark"></i>
                </button>
            </div>
            {% endif %}

            <span class="text-dark fw-bold">Match</span>
        </div>
    </div>

    <!-- Тело карточки -->
    <div class="card-body rounded-bottom">
        <div class="container">
            <div class="row">
                {% for word, translation in task.content_object.pairs.items %}
                <div class="row pair mb-2">
                    <div class="col-6">
                        <button class="match-btn btn btn-outline-secondary fs-6 fw-bold w-100 h-100"
                            data-word="{{ word }}">
                            {{ word }}
                        </button>
                    </div>
                    <div class="col-6">
                        <button class="match-btn btn btn-outline-secondary fs-6 fw-bold w-100 h-100"
                            data-translation="{{ translation }}">
                            {{ translation }}
                        </button>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>

    <!-- Футер с баллами -->
    <div class="card-footer bg-white text-center py-3 rounded-bottom d-none">
        <div class="fs-5 fw-bold text-danger">
            <span class="score-value">0</span>%
        </div>
    </div>
</div>

<!-- Скрытый контейнер с правильными парами -->
<div class="correct-pairs d-none" data-pairs="{{ task.content_object.pairs|to_json }}" data-max-score="{{ task.content_object.pairs|length }}"></div>